
<div class="container">
	

  <div class="content">
    <div class="page-header">
      <h1>Ben's App Home <small>putting the twit in twitter</small></h1>
    </div>
    <div class="row">
      <div class="span10">
        <!-- <h2>Homepage</h2> -->
        
        <!-- <section class="carousel">
       				    
       				        <div class="span9 columns"> -->
				          
				          
				          <!-- <div id="myCarousel" class="carousel slide">
				         				            <div class="carousel-inner">
				         				              <div class="item active">
				         					            <%= image_tag("1.jpg", :alt => "Sample App") %>
				         				                <div class="carousel-caption">
				         				                  <h4>Alexander the Great</h4>
				         				                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				         				                </div>
				         				              </div>
				         				              <div class="item">
				         				                <%= image_tag("2.jpg", :alt => "Sample App") %>
				         				                <div class="carousel-caption">
				         				                  <h4>Dev Boot Camp Location</h4>
				         				                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				         				                </div>
				         				              </div>
				         				              <div class="item">
				         				                <%= image_tag("3.jpg", :alt => "Sample App") %>
				         				                <div class="carousel-caption">
				         				                  <h4>Tim Tebow</h4>
				         				                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				         				                </div>
				         				              </div>
				         				            </div>
				         				            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				         				            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				         				          </div>
				         				           -->
        <p>
				  This is the home page for the
				  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
				  sample application.
				</p>
        <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
      </div>
   </div>
 </div>
